{% include 'app/header.twig' %}

<h3>Welcome to Ski Utah!</h3>
<div class="row">
    <div class="col-md-12">Resort</div>
</div>
<div class="row">
    <div class="col-md-6">Alta</div>
    <div class="col-md-4">Links</div>
    <div class="col-md-2">NWS</div>
</div>

{% include 'app/footer.twig' %}